{% load static %}
<nav>
    <div>
        <form class="form-inline my-2 my-lg-0 method=" action="">
            <link rel="stylesheet" href="../static/css/style.css">
            <img src="../static/images/pokedex-img.png" alt="">


            <p class="card-text">
                Aqui você pode encontrar todos os Pokémon da Pokédex.
            </p>

            <input name="termo" values="" class="form-control mr-sm-2" type="search" placeholder="Number or Pokemon"
                aria-label="Search">

            <button class="btn btn-secondary my-2 my-sm-0" type="submit">GO</button>
        </form>
    </div>
</nav>