<nav>
    <form class="form" action="{% url 'pokemon:search' %}" method="GET">
        <input name="termo" type="search" value="{{ request.GET.term }}" placeholder="name or number"
            class="name or number" required>
    </form>
    <div class="bottouns">
        <button class="button btn btn-prev" id="prev">&lt;Previous</button>
        <button class="button btn btn-next" id="next">Next &gt;</button>
    </div>

    <img src=" ../static/images/pokedex-img.png" alt="" class="pokedex">
</nav>