<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/bebas" type="text/css" />


    <title>Pokédex</title>

</head>

<body>
    <main>
        <img src="./images/pokedex-img.png" alt="pokedex" class="pokedex">

        <h1 class="pokemon__name">Welcome Pokédex</h1>

        <input type="text" placeholder="Number or name Pokémon">
        


    </main>
</body>

        
