<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/bebas" type="text/css" />


    <title>Pokédex</title>

</head>

<body>
    <main>
        <img src="./images/pokedex-img.png" alt="pokedex" class="pokedex">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                Aqui você pode encontrar todos os Pokémon da Pokédex.
                            
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        <h1 class="pokemon__name">Welcome Pokédex</h1>

        {% include 'parciais/_nav' %}
    </main>
</body>